{% extends 'administration/suministro/suministro.html' %}
{% load static %}


{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Empresa</th>
        <th scope="col" style="width: 10%;">Regional</th>
        <th scope="col" style="width: 10%;">SubEstacion</th>
        <th scope="col" style="width: 10%;">Transformador</th>
        <th scope="col" style="width: 10%;">Alimentadora</th>
        <th scope="col" style="width: 10%;">Suministro</th>
        <th scope="col" style="width: 10%;">Cliente</th>
        <th scope="col" style="width: 10%;">Direccion</th>
        <th scope="col" style="width: 10%;">Coordenadas<br> Latitud</th>
        <th scope="col" style="width: 10%;">Coordenadas<br> Longitud</th>
        <th scope="col" style="width: 10%;">Editar</th>
        <th scope="col" style="width: 10%;">Medidor</th>
    </tr>
{% endblock columns %}

{% block rows %}
{% endblock rows %}

{% block extra_javascript %}
   <script src="{% static 'js/administration/suministro/suministro.js' %}"></script>
{% endblock extra_javascript %}