{% extends 'administration/usuarios.html' %}
{% load static %}


{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Nombre</th>
        <th scope="col" style="width: 10%;">Apellidos</th>
        <th scope="col" style="width: 10%;">Email</th>
        <th scope="col" style="width: 10%;">Usuario</th>
        <th scope="col" style="width: 10%;">Perfil</th>
    </tr>
{% endblock columns %}

{% block rows %}
{% endblock rows %}

{% block extra_javascript %}
   <script src="{% static 'js/administration/usuarios/usuarios.js' %}"></script>
{% endblock extra_javascript %}