.message {
   text-align: center;
}




/* Administration - Index */
.index-title {
   text-align: center !important;
}
.card-body img {
   width: 100%;
   height: 380px;
}

.card-header {
   background-color: #ffea4f !important;
}
.card-header h3 {
   color: #686868;
   font-weight: bold;
}

/*------- Administration - Suministro Section -------*/
.table thead {
   background-color: #ffea4f;
}
.table thead th{
   font-size: .8em;
   color: #686868;
}

.table td{
   font-size: .8em;
}
.page-item.active .page-link {
   background-color: #ffea4f !important;
   border-color: #ffea4f;
   color: #686868;
}

/*-------- Login ----------*/
.card-create-auction .card-body p {
   display: contents;
}

.button-create-auction {
   margin-left: 0rem;
}

/*------ Administration/Usuarios Section -------*/
.usuarios {
   background-color: #ffea4f;
   font-size: bold;
   color: #686868;
   font-weight: bold;
}



/*----- Administration/Usuarios Creation -----*/
#CreateUsuario .fluid-container {
   margin-left: 4rem;
   margin-right: 4rem;
}
.card-form {
   padding: 3.4rem;
}



/*--------- Medidor Detail Section -------*/
#medidorDatos .card-body img {
   width: 60%;
   height: 200px;
}

#medidorDatos .card-title {
   color: #686868;
   font-weight: bold;
}

#medidorDatos .medidor-img {
   text-align: center;
}

#medidorDatos .medidor-data {
   padding-left: 4.2rem;
}

#TablaMedidorGenerales td {
   font-size: 13px;
}
#TablaMedidorEspecificas td {
   font-size: 13px;
}

#TablaMedidorEspecificas .ultima-fecha-lectura {
   padding-top: 4rem;
}