{% extends 'base/base.html' %}


{% block content %}
<section id="CreateUsuario">
   <div class="fluid-container">
      <div class="row">
         <div class="col-12">
            <div class="card-header">
               <div class="col-12">
                 <h3 class="index-title">Editar Usuario</h3>
               </div>
             </div>
            <div class="card card-form">
                  <form action="." method="POST">
                     {% csrf_token %}
                     <div class="row">
                        <div class="col-md-6 mb-3">
                           <label for="id_username" class="labels-account">Username</label>
                           {{ form.username }}
                        </div>
                        <div class="col-md-6 mb-3">
                           <div>
                              <label for="id_email" class="labels-account">Email</label>
                              {{ form.email }}
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="row">
                              <div class="col-md-12 mb-3">
                                 <label for="id_first_name" class="labels-account">Nombre</label>
                                 {{ form.first_name }}
                              </div>
                           </div>

                           <div class="row">
                              <div class="col-md-12 mb-3">
                                 <div>
                                    <label for="id_last_name" class="labels-account">Apellido</label>
                                    {{ form.last_name }}
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="col-12">
                              <!-- Select multiple-->
                              <div class="form-group">
                                <label for="id_groups">Seleccione el Perfil</label>
                                 {{ form.groups }}
                              </div>
                            </div>
                        </div>
                     </div>
                     <div class="row" style="justify-content: center;">
                        <button class="btn btn-warning create-user-button" type="submit" style="color: #686868; font-weight: bold;">Guardar</button>
                     </div>
                  </form>
            </div>
         </div>
      </div>

   </div>
</section>

{% endblock content %}